<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task 1</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/stylesheets/taskStyle.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">pomodoroByIea</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/timer"><i class="material-icons left">list</i>Timer and Tasks</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="btn black">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="btn black">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
             <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
             <li><a href="/stuff"><i class="material-icons left">list</i>Timer and Tasks</a></li>
             <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="btn black">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="btn black">Login</a></li>
            <% } %>
        </ul>
    </header>
    <div class="container">
        <div class="section flow-text">
            <h1>Task details:</h1>
                <a href="/timer">
                    <button style="margin-bottom: 30px">
                        <i class="material-icons left">arrow_back</i>    
                        Return to Timer
                    </button>
                </a>
            
            <table class="striped">
                <tr>
                    <th>Name:</th>
                    <td><%= task %></td>
                </tr>
                <tr>
                    <th>Estimated minutes:</th>
                    <td><%= estimated_time %></td>

                </tr>
                <tr>
                    <th>Sub-tasks/description:</th>
                    <td><%= description %></td>
                </tr>
            </table>
        </div>

        <div class="section" id="stuffControls">
            <!-- <a>
                <button>
                    <i class="material-icons right">edit</i>
                    Edit
                </button>
            </a> -->
            <a href="/timer/task/<%= id %>/delete">
                <button>
                    <i class="material-icons right">delete</i>
                    Delete
                </button>
            </a>
        </div>

        
        <div class="modal-content">
            <h2>Edit task:</h2>
            <form method="post" action="/timer/task/<%= id %>">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="taskName" id="taskInput" class="validate" data-length="32" placeholder="Task Name:" value="<%= task %>" required>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" name="minutes" id="minutesInput" placeholder="Estimated Minutes:" value="<%= estimated_time %>" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="description" id="descriptionInput" data-length="100" placeholder="Task Description/Sub-tasks:" value="<%= description %>">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit">
                        <i class="material-icons right">send</i>
                        Submit
                    </button>
                </div>
            </form>
        </div>

    </div>





        <p>Made with <a href="https://github.com/ishaaty/pomodoroByIea" target="_blank" style="color: black"><i class="material-icons" style="font-size: 12px">favorite_border</i></a></p>
</body>
</html>