<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="/stylesheets/timerStyle.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
    <div>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">pomodoroByIea</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="desktop-nav" class="right hide-on-med-and-down">
                        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                        <li><a href="/stuff"><i class="material-icons left">list</i>Timer and Tasks</a></li>
                        <% if (isLoggedIn) { %>
                            <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                            <li><a href="/logout" class="btn black">Logout</a></li>                        
                        <% } else { %>
                            <li><a href="/login" class="btn black">Login</a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>
            <ul id="mobile-nav" class="sidenav">
                 <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                 <li><a href="/timer"><i class="material-icons left">list</i>Timer and Tasks</a></li>
                 <% if (isLoggedIn) { %>
                    <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                    <li><a href="/logout" class="btn black">Logout</a></li>                        
                <% } else { %>
                    <li><a href="/login" class="btn black">Login</a></li>
                <% } %>
            </ul>
        </header>
        <button id="timerArrows" class="upArrow"><i style="font-size: 80px" class="material-icons">arrow_upward</i></button>
        <button style="margin-right: 0px; margin-bottom: 0px; padding-bottom: 0px" id="timer"><h1 id="minutes">25:00</h1>
        </button><button id="timerArrows" class="downArrow"><i style="font-size: 80px" class="material-icons">arrow_downward</i></button>
    </div>
    <div>
        <button id="timer" style="font-size: 60px; margin-top: 0px; padding-top: 0px">minutes</button>
    </div>
    <div>
        <button class="blackWhiteBtn" id="startStop">Start/Stop</button>
        <button class="blackWhiteBtn" id="reset">Reset</button>
    </div>
    <div class="container">
        <div class="section">
            <h1 style="font-size: 58px; margin-top: 100px; margin-bottom: 45px">Tasks:</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Estimated minutes</th>
                        <th>Sub-tasks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < tasks.length; i++){ %>
                        <tr>
                            <td><%=tasks[i].task%></td>
                            <td><%=tasks[i].estimated_time%></td>
                            <td><%=tasks[i].description%></td>
                            <td>
                                <a href=<%="/timer/task/" + tasks[i].id %>>
                                    <button class="blackWhiteBtn">
                                        <i class="material-icons right">edit</i>
                                        Info/Edit
                                    </button>
                                </a>
                                <a href="/timer/task/<%= tasks[i].id %>/delete">
                                    <button class="blackWhiteBtn">
                                        <i class="material-icons right">delete</i>
                                        Delete
                                    </button>
                                </a>
                            </td>
                        </tr>
                    <% }%>
                </tbody>
            </table>
        </div>

        <div class="section">
            <h1 style="font-size: 58px; margin-top: 100px; margin-bottom: 45px">Enter task(s):</h1>
            <form method="POST" action="/timer">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="taskName" id="taskInput" class="validate" data-length="32" placeholder="Task name" required>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" name="minutes" id="minutesInput" placeholder="Estimated minutes" required>
                    </div>
                </div>
                <button class="blackWhiteBtn" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
    <p style="font-size: 16px; text-align: center">Made with <a href="https://github.com/ishaaty/pomodoroByIea" target="_blank" style="color: black"><i class="material-icons" style="font-size: 12px">favorite_border</i></a></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/scripts/materializeAutoinit.js"></script>
    <script src="timer.js"></script>

</body>
</html>